body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	line-height: 1.5;
	background-size: auto 80%;
	background-color: black;
	background-image: url(bg-triangles.svg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.top-bar{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 2px 14px 6px 14px;
	font-size: 16px;
	background-color: black;


}

.top-bar-item{
	box-sizing: border-box;
	padding: 4px 2px;
	margin: 0 2px;
	text-decoration:none;
	align-self: flex-end;					/* Why ??*/
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #d4bb55;
	height: 36px;
	border-bottom: black solid 1px;
	transition: all 0.2s ease 0s;
}

.top-bar-item:hover{
	color: #d4bb55;
	text-decoration:none;
	border-bottom: #d4bb55 solid 1px;
}

.top-logo, .top-logo:hover{
	padding: 0;
	margin: 0;
	height: 40px;
	border: 0;
}

.logo{
	height: 100%;
	
}




.social-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #d4bb55;
}

.social-bar a svg{
	margin: 6px 8px 4px 8px;
	padding: 0;
	height: 28px;
	width: 28px;
}








.ref{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	font-size: 32px;
}